<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href= '{% static "reg/base.css" %}'>
        {% block head %}{% endblock %}
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
       <!-- <nav class='navbar navbar-expand-sm bg-dark navbar-dark'>
        <div class='container'>
            <ul class='nav navbar-nav'>
                <li class="nav-item"><a class=navbar-brand href="{% url 'index' %}">Home</a></li>
                <li class="nav-item"><a class='navbar-link' href="{% url 'admin:index' %}">Admin</a></li>
                <li class="nav-item"><a class='navbar-link' href="{% url 'reg:signup' %}">Register</a></li>
            </ul>
        </div>
        </nav>-->
        <div class='upper',style="width:100%">
            <div class="row row-one">
                <div class="col-md-2 col-sm-2 col-2">
                    <img class='img-responsive' src='https://media.glassdoor.com/sqll/562067/madhya-pradesh-police-squarelogo-1475065631337.png', alt="police logo"/>
                </div>
              
                <div class="col-md-9 col-sm-9 col-9">
                    <h1 class='mp'>MADHYA PRADESH POLICE</h1>
                </div>
            </div>
        </div> 

        {% block body %}
        {% endblock %}
    </body>
</html>